body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    font-style: italic;
    color: gray;
}
.pad-l {
    margin: 2rem;
}
.center-box {
    border: solid black 2px;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 5px;
    width: fit-content;
}
.textbox {
    padding: 0.3rem;
    border: solid black 1px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.btn {
    text-decoration: none;
    border: none;
    background-color: rgb(78, 115, 182);
    color: white;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
}
.btn:hover {
    background-color: rgb(65, 92, 143);
}
.btn:disabled {
    background-color: gray;
}
.avatar {
    width: 2rem;
    border: solid gray 1px;
    vertical-align: middle;
}
table {
    border: solid black 2px;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 0.5rem;
}
.banner {
    max-width: 200px;
}
.bar {
    background-color: gray;
    width: 80%;
    height: 2rem;
    border-radius: 5px;
}
.bar * {
    height: 2rem;
    float: left;
}
.left-edge {
    border-radius: 5px 0 0 5px;
}
.right-edge {
    border-radius: 0 5px 5px 0;
}
.bar .woke {
    color: white;
    background-color: #ff0000;
}
.bar .woke:hover {
    background-color: #970000;
}
.bar .slightly {
    color: black;
    background-color: #ffff00;
}
.bar .slightly:hover {
    background-color: #9f9f03;
}
.bar .notwoke {
    color: black;
    background-color: #00ff00;
}
.bar .notwoke:hover {
    background-color: #009700;
}
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .target {
    visibility: hidden;
    width: 10rem;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    height: 1.5rem;
    position: absolute;
    z-index: 1;

    bottom: 120%;
    left: 50%;
    margin-left: -5rem;
}
  
.tooltip:hover .target {
    visibility: visible;
}
@media only screen and (max-width: 768px) {
    .banner {
        max-width: 100px;
    }

    .pad-l {
        margin: 1rem;
    }
    .btn {
        display: inline-block;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    th, td {
        padding: 0.2rem;
    }
}